<%- include("partial/home_header") %>

    <!-- <div class="container-fluid"> -->
        <div class="container-fluid text-center lodgeliberia_textcolor_color fw-bolder">
            <h1>About Us</h1>
        </div>
        <div class="container-fluid">
            <img src="/public/images/about us.jpg" alt="horizon" class=" w-100">
        </div>
        <div class="container-fluid second-fluid">
            <div class="container mt-5 text-width text-dark">
                <h2 class="d-flex justify-content-start">About Us</h2>
                <p ><span class="text">LodgeLiberia</span> was born in 2024 when three students were given a project to do based
                on the knowledge they acquired from the five-months Node Js course/training they took. Inspired by AirBnB, these three brilliant
                minds(James Gayflor, Tracy Sonyah, and Gbarsegiah) set out to build something like that for their country <span class="text">Liberia</span>. 
                What started out as a mere project to showcase their skills, has turned into sosmething that they want to reach far and wide; Like <span class="text">AirBnB</span>.
                And they just can't wait for it to skyrocket; ensuring that people coming to Libeia know that they have not just a comfortable but also safe home awaiting them, 
                not just some mere hotel but their home away from home.</p>
            </div>
        </div>
        <div class="container-fluid third-fluid">
            <div class="container">
                <h2 class="text-dark d-flex justify-content-start">Founders</h2>
                <div class="row">
                    <div class="col-12 col-md-4 d-flex flex-column align-items-center mb-3">
                        <img src="/public/images/james.jpeg" class="img-fluid" alt="James CEO">
                        <p class="text-dark text-center mt-2">
                            <span class="fs-3">James Gayflor</span><br> 
                            Co-founder and Chief Executive Officer
                        </p>
                    </div>
                    <div class="col-12 col-md-4 d-flex flex-column align-items-center mb-3">
                        <img src="/public/images/tracy.jpeg" class="img-fluid" alt="Tracy CSO">
                        <p class="text-dark text-center mt-2">
                            <span class="fs-3">Tracy Antoinette Sonyah</span><br> 
                            Co-founder and Chief Strategic Officer
                        </p>
                    </div>
                    <div class="col-12 col-md-4 d-flex flex-column align-items-center mb-3">
                        <img src="/public/images/gbarsegiah.jpeg" class="img-fluid" alt="Gbarsegiah Chairman">
                        <p class="text-dark text-center mt-2">
                            <span class="fs-3">Giahseymehn Barseegiah</span><br> 
                            Co-founder and Chairman of LodgeLiberia
                        </p>
                    </div>
                </div>
            </div>
        </div>
<%- include("partial/home_footer") %>