<!-- Modal -->
<div class="modal" id="place_calender_form" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">

    <div class="modal-content bg-black">
      
      <div class="modal-header border-0">
        <h5 class="modal-title" id="logo">LodgeLiberia</h5>
        <button type="button" class="btn-close btn-close-custom" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Modal Body -->
      <div class="input-group">
        <input type="text" class="form-control" id="datepicker">
      </div>
      

    </div>
  </div>
</div>
<!-- Modal -->