<%- include("partial/home_header") %>
<style>
    h1 {
        font-size: 100px;
    }
</style>
  <main class="container-fluid">

    <h1>Tracy host your Property!!!</h1>
  </main>
  <%- include("partial/home_footer") %>