<%- include("partial/payment_header") %>

  <main class="container-fluid">

    <div class="container-fluid">

      <!-- Implementing payment-form -->
      <!-- <body> -->
      <div class="container-fluid m-0">
        <!-- Adjust column size to make the form bigger -->
        <div class="m-0 container-fluid">
          <div class="form-title text-center mb-4">
            <h3>Complete Your Payment</h3>
          </div>

          <!-- Cards implementation -->
          <div class="main-cards">
            <div class="card">
              <div class="card-inner">
                <h3>LodgeLiberia</h3>
                <h4>Account Balance: 8,000 USD</h4>
              </div>
              <div class="name-card">
                <h5 style="margin-top:20px; position: relative;">Account owner name</h5>
                <h2>Giahseymehn Barseegiah</h2>
                <h4>LL</h4>
              </div>

            </div>
            <img src="/public/images/trial_pic.png" class="img-fluid" alt="Product Image">
          </div>

          <!-- Submit Button -->
          <button type="submit" class="btn btn-color w-100">PAY</button>
        </div>
      </div>
      
      <!-- </body> -->

    </div>
    </div>
  </main>
  <%- include("partial/home_footer") %>