<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login here</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/login.css">

</head>
<body>

    <div class="container">
        <form class="form-group">
            <div class="mb-3 bg p-5 rounded">
                <h2 class="text-center">Login</h2>
                <label for="exampleFormControlInput1" class="form-label mt-4 fw-semibold">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
              
                <label for="exampleFormControlInput1" class="form-label mt-3 fw-semibold">Password</label>
                <input type="password" class="form-control" id="exampleFormCmargin-top: 10px;ontrolInput1">

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">Remember me</label>
                </div>

                <input type="submit" value="Submit" class="form-control btn-color mt-3" id="exampleFormControlInput1">
            </div>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>