<%- include("partial/login_signup_header") %>
<main class="container-fluid mb-4">

  <!-- Login Form -->
  <div class="container" id="loginFormContainer">
    <div class="card">
      <div class="card-header">Login</div>
      <div class="card-body bg-transparent">
        <!-- Error message display -->
        <% if (errorMessage) { %>
          <div id="loginErrorMessage" class="alert alert-danger" role="alert">
            <%= errorMessage %> <!-- Display the error message -->
          </div>
        <% } %>

        <!-- Login Form -->
        <form id="loginForm" method="post" action="/login">
          <!-- Username -->
          <div class="mb-3">
            <label for="username" class="form-label">Username or email</label>
            <input type="text" class="form-control" id="username" name="username" required>
          </div>

          <!-- Password -->
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
          </div>

          <!-- Submit Button -->
          <button type="submit" class="btn btn-primary fw-bold">Login</button>
        </form>
      </div>

      <div class="card-footer text-center">
        <p>Don't have an account? <b><a href="#" onclick="switchOverlay('signup')">Create One</a></b></p>
      </div>
    </div>
  </div>

  <!-- Signup Form - Multi-Step -->
  <div class="container d-none" id="signupFormContainer">
    <div class="card">
      <div class="card-header">Sign Up</div>
      <div class="card-body bg-transparent">
        <!-- Step 1: Basic Information -->
        <form id="signup-form" action="/signup" method="POST" enctype="multipart/form-data">
          <div class="step active" id="step-1">
            <!-- Full Name -->
            <div class="mb-2">
              <label for="fullname" class="form-label fw-semibold">Full Name</label>
              <input type="text" class="form-control" id="fullname" name="fullname" required>
            </div>

            <!-- Phone Number -->
            <div class="mb-2">
              <label for="phone" class="form-label fw-semibold">Phone Number</label>
              <input type="tel" class="form-control" id="phone" name="phone_number" required>
            </div>

            <!-- Email -->
            <div class="mb-2">
              <label for="email" class="form-label fw-semibold">Email Address</label>
              <input type="email" class="form-control" id="email" name="email" required>
            </div>

            <!-- Username -->
            <div class="mb-2">
              <label for="usernameSignup" class="form-label">Username</label>
              <input type="text" class="form-control" id="usernameSignup" name="username" required>
            </div>

            <!-- Password -->
            <div class="mb-2">
              <label for="passwordSignup" class="form-label fw-semibold">Password</label>
              <input type="password" class="form-control" id="passwordSignup" name="password" required>
            </div>

            <button type="button" class="btn-primary btn mt-3 fw-bold" onclick="nextStep(2)">Next</button>
          </div>

          <!-- Step 2: Additional Information -->
          <div class="step d-none" id="step-2">
            <!-- Profile Picture -->
            <div class="mb-2">
              <label for="profilePic" class="form-label fw-semibold">Profile Picture</label>
              <input type="file" class="form-control" id="profilePic" name="profilePic" accept="image/*">
            </div>

            <!-- Occupation -->
            <div class="mb-2">
              <label for="occupation" class="form-label fw-semibold">Occupation</label>
              <select class="form-control" id="occupation" name="occupation" required>
                <option value="">Select Occupation</option>
                <option value="Student">Student</option>
                <option value="Employee">Employee</option>
                <option value="Self-employed">Self-employed</option>
                <option value="Unemployed">Unemployed</option>
              </select>
            </div>

            <!-- Education -->
            <div class="mb-2">
              <label for="education" class="form-label fw-semibold">Education</label>
              <select class="form-control" id="education" name="education" required>
                <option value="">Select Education Level</option>
                <option value="Vocational School">Vocational School</option>
                <option value="High School">High School</option>
                <option value="Associate Degree">Associate Degree</option>
                <option value="Bachelor's Degree">Bachelor's Degree</option>
                <option value="Master's Degree">Master's Degree</option>
                <option value="PhD">PhD</option>
              </select>
            </div>

            <!-- Age -->
            <div class="mb-2">
              <label for="age" class="form-label fw-semibold">Age</label>
              <input type="number" class="form-control" id="age" name="age" required>
            </div>

            <!-- Terms & Conditions -->
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="useragreement" name="useragreement" required value="user agreement approval">
              <label class="form-check-label fw-semibold" for="useragreement"> I agree to the <a href="#" style="color:#ff9900;">Terms and Conditions</a> </label>
            </div>

            <button type="button" class="btn btn-primary mt-3 fw-bold" onclick="previousStep(1)">Previous</button>
            <button type="submit" class="btn btn-primary mt-3 fw-bold">Create Account</button>
          </div>
        </form>
      </div>

      <div class="card-footer text-center">
        <p>Already have an account? <b><a href="#" onclick="switchOverlay('login')">Login</a></b></p>
      </div>
    </div>
  </div>

</main>

<%- include("partial/home_footer") %>
