<%- include("partial/home_header") %>

    <main class="container mt-3 mb-5 shadow">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="my-card container-fluid">
                    <div class="card-body text-center p-4">

                        <!-- Profile Image pushed to the top -->
                        <img src="/public/images/orange_money.png" alt="profile-image" class="rounded-circle profile_image">

                        <!-- Add padding-top to accommodate the image shift -->
                        <div class="content">
                            <!-- Name -->
                            <h3 class="card-title">Giahseymehn Barseegiah</h3>

                            <!-- Age -->
                            <p class="card-text"><strong>Age:</strong> 30 yrs</p>

                            <!-- Education -->
                            <p class="card-text"><strong>Education:</strong> MSC Computer Science</p>

                            <!-- Occupation -->
                            <p class="card-text"><strong>Occupation:</strong> Software & System Developer</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>

    <%- include("partial/home_footer") %>