<%- include("partial/home_header") %>

<body>
  
    <main class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card my-card">
                    <div class="card-body text-center">   

                        <img src="/public/images/orange_money.png" alt="profile-image" class="img-fluid rounded-circle mb-3" width="200">
                        <h3 class="card-title">Giahseymehn Barseegiah</h3>
                        <p class="card-text">Age: 30 yrs</p>
                        <p class="card-text">Education: MSC Computer Science</p>
                        <p class="card-text">Occupation: Software & System Developer</p>
                    </div>
                </div>
            </div>
        </div>
    </main>

    

</body>
  
  <%- include("partial/home_footer") %>