<%- include("partial/home_header") %>

  
    <body>

      <main class="container mt-4">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <div class="card shadow-lg">
              <div class="card-body text-center p-4">
    
                <!-- Profile Image pushed to the top -->
                <img src="/public/images/orange_money.png" alt="profile-image" class="profile-image">
    
                <!-- Add padding-top to accommodate the image shift -->
                <div class="content">
                  <!-- Name -->
                  <h3 class="card-title">Giahseymehn Barseegiah</h3>
    
                  <!-- Age -->
                  <p class="card-text"><strong>Age:</strong> 30 yrs</p>
    
                  <!-- Education -->
                  <p class="card-text"><strong>Education:</strong> MSC Computer Science</p>
    
                  <!-- Occupation -->
                  <p class="card-text"><strong>Occupation:</strong> Software & System Developer</p>
                </div>
    
              </div>
            </div>
          </div>
        </div>
      </main>
    
    
    </body>
    

    

</body>
  
  <%- include("partial/home_footer") %>