<%- include("partial/payment_header") %>

  <main class="container-fluid">

    
    <div class="wrapper">
      <div class="wrap">
        <div class="head d-flex d-flex justify-content-between">
          <a href="#" class="text-black"><i class="fa-solid fa-arrow-left"></i></a>
          <div class="account d-flex">
            <p>Account for Tether(ERD-20)</p>
            <i class="fa-solid fa-caret-down"></i>
          </div>
          <div class="statement ">
            <i class="fa-regular fa-file"></i>
            <!-- <p>statement</p> -->
          </div>
        </div>
        <div class="amount">
          <p class="d-flex justify-content-center"><span id="num-span">466</span>.31293 <span>USDT</span></p> 
          <p class="d-flex justify-content-center smaller">~483.98USD</p>
        </div>
        <div class="continuition">
          <i class="fa-duotone fa-solid fa-period"></i>
          <i class="fa-duotone fa-solid fa-period"></i>
          <i class="fa-duotone fa-solid fa-period"></i>
          <i class="fa-duotone fa-solid fa-period"></i>
          <i class="fa-duotone fa-solid fa-period"></i>
          <i class="fa-duotone fa-solid fa-period"></i>
        </div>
        <div class="contains">
          <div class="first">
            <p>Make sure you are using the ERC-20 network</p>
          </div>
          <div class="second">
            <b>Deposit address</b>
            <div class="scan">
              <p>scanner</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </main>
<%- include("partial/home_footer") %>