#logo {
    color: orange;
    font-weight: bolder;
}

#motto {
    text-align: right;
}

#search-box {
    align-items: center;
    align-content: center;
    background-color: rgba(128, 128, 128, 0.4);
    border-radius: 5px;
}

#signup_signin_btn {
    align-items: center;
    align-content: center;
    background-color: orange;
    border-radius: 5px;
}

#search-box>div>input {
    background: transparent;
}

#search-box>div>input:focus {
    box-shadow: none;
    border: none;
}

#search-box>div>input::placeholder {
    font-weight: bold;
    color: black;
}

#search_dropdown {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    box-shadow: none;
}

#search-btn {
    background-color: orange;
    border: none;
}

/* Placeholder controls */

.place_holder_control::-webkit-outer-spin-button,
.place_holder_control::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.place_holder_control::placeholder {
    color: rgba(0, 0, 0, 0.432);
    font-weight: bold;
    font-size: small;
}

.form-check-input:checked {
    background-color: orange;
    border-color: orange;
}

.form-check-input:focus {
    box-shadow: none;
    border: none;
}

.dropdown-menu {
    background: rgb(180, 179, 179);
    /* lor: black; */
}