
.form-control{
    background-color: whitesmoke;
}

.bg {
    color: white;
}

.termsNconditions {
    display: flex;
    padding-top: 10px;
}

.form-check-label {
    font-size: 121px;
    padding-left: 8px;
}

.account-question {
    font-size: 13px;
    cursor: pointer;
}

.account-question a {
    color: #FFA500;
}

.account-question {
    padding-top: 10px;
}

.btn-color {
    background-color: #FFA500;
    color: white;
    border: none;
}

