body {
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
}




.form-control{
    background-color: whitesmoke;
}

.bg {
    color: white;
}

.account-question {
    font-size: 13px;
    cursor: pointer;
}

.account-question a {
    text-decoration: none;
    color: #FFA500;
}

.account-question {
    padding: 10px;
}

.btn-color {
    background-color: #FFA500;
    color: black;
    border: none;
}

/* @media (max-width: 1374px) and (min-width: 804px) {
    form {
        width: 50%;
        margin: auto;
        padding-top: 150px;
    }
} */

