#return_btn {
    align-items: center;
    align-content: center;
    text-align: center;
    background-color: orange;
    border-radius: 50px;
    width: 40px;
}

.host_image_icon {
    width: 40px;
    height: 40px;
}

.host_image {
    width: 100px;
    height: 100px;
}

.divider {
    border: 1px solid black;
}

.property_title {
    color: orange;
}

.selected_place-images {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

#badge {
    background-color: orange;
}

.calender {
    font-size: 14px;
    cursor: pointer;
}

#calendar_icon {
    background: orange !important;
}

.place_breakdowns {
    color: rgb(32, 32, 32);
}

.phone-booking-section {
    background-color: rgba(0, 0, 0, 0.836);
}

#floating-reserve-section{
    background-color: orange !important;
    background: orange;
}