<!-- Footer -->

<div class="container-fluid bg-black">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 mt-4 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <a class="navbar-brand col me-0 fs-5" href="/" id="logo">LodgeLiberia</a>
      </div>
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <i class="fa-brands fa-facebook" style="color: #fcfcfc;"></i> &nbsp;&nbsp;
        <i class="fa-brands fa-instagram" style="color: #ffffff;"></i>
      </ul>
    </footer>
  </div>

<!-- Custom/Internal JS Scripts -->
<script src="/public/bootstrap5/js/bootstrap.bundle.min.js"></script>
<script src="/public/js/tab-scrollable.js"></script>
<script src="/public/js/small_device_search_functionality.js"></script>

<!-- External JS Scripts -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="/public/bootstrap5/js/bootstrap.min.js"></script>
</body>

</html>