<!-- Footer -->

<div class="container-fluid bg-black bottom-0 mt-auto">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 mt-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a class="navbar-brand col me-0 fs-5" href="/" id="logo">LodgeLiberia</a>
    </div>
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex align-items-center">
      <a href="/about" class="fw-bold color_orange">About Us</a>&nbsp;&nbsp;
      <a href="/contact" class="fw-bold color_orange">Contact</a>&nbsp;&nbsp;
      <i class="fa-brands fa-facebook" style="color: #fcfcfc;"></i> &nbsp;&nbsp;
      <i class="fa-brands fa-instagram" style="color: #ffffff;"></i>
    </ul>
  </footer>
</div>

<!-- Custom/Internal JS Scripts -->
<script src="/public/js/tab-scrollable.js"></script>
<script src="/public/js/place_detail.js"></script>
<script src="/public/js/login_signup_functionality.js"></script>
<script src="/public/js/login_signup_functionality.js"></script>
<script src="/public/js/hosting.js"></script>
<script src="/public/js/payment.js"></script>
<script src="/public/js/amenities.js"></script>



<!-- External JS Scripts -->

<script src="/public/bootstrap5/js/bootstrap.min.js"></script>
<script src="/public/bootstrap5/js/bootstrap.bundle.js"></script>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>