<!-- Modal -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog bg-black">
    <div class="modal-content bg-black">
      <div class="modal-header border-0">
        <h5 class="modal-title" id="logo">LodgeLiberia</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Modal Body -->
      <div class="modal-body">
        <form class="form-group needs-validation" validate>
          <form class="form-group login">
            <h2>Login</h2>
            <div class="col container-fluid">
              <label for="exampleFormControlInput1" class="form-label mt-4 fw-semibold">Username</label>
              <input type="name" class="form-control" id="exampleFormControlInput1" required>

              <label for="exampleFormControlInput1" class="form-label mt-3 fw-semibold">Password</label>
              <input type="password" class="form-control" id="exampleFormCmargin-top: 10px;ontrolInput1" required>

              <input type="submit" value="Login" class="form-control btn-color mt-4" id="exampleFormControlInput1">

              <p class="account-question text-center">Don't have an account? <br><a
                  class="create-account" data-bs-dismiss="modal" aria-label="Close" data-bs-toggle="modal"
                  data-bs-target="#signup_modal">Create One</a></p>
            </div>
          </form>
      </div>
    </div>
  </div>
<<<<<<< HEAD
  <!-- Modal -->

  


  <!-- <script>
    const signupLink = document.querySelector(".create-account");
    const loginLink = document.querySelector(".login-account")
    const logIn = document.querySelector(".login");
    const signUp = document.querySelector(".signup");

    signupLink.addEventListener("click", function (e) {
      e.preventDefault();
      signUp.classList.remove("d-none");
      logIn.classList.add("d-none");
      console.log("yes");
    });

    loginLink.addEventListener("click", function (e) {
      e.preventDefault();
      logIn.classList.remove("d-none");
      signUp.classList.add("d-none");
    })
  </script> -->
  <!-- </div> -->
=======
>>>>>>> 6fe750ee9611939ba123f721fd3ff3ce78e30752
  <!-- Modal -->