

    <!-- Modal -->
    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog bg-black">
      <div class="modal-content bg-black">
        <div class="modal-header border-0">
          <h5 class="modal-title" id="logo">LodgeLiberia</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <!-- Modal Body -->
        <div class="modal-body">
          <form class="form-group">
            <h2>Login</h2>
            <div class="col-md-4">
              <label for="exampleFormControlInput1" class="form-label mt-4 fw-semibold">Username</label>
              <input type="name" class="form-control" id="exampleFormControlInput1" required>
            </div>

            <label for="exampleFormControlInput1" class="form-label mt-3 fw-semibold">Password</label>
            <input type="password" class="form-control" id="exampleFormCmargin-top: 10px;ontrolInput1" required>

            <input type="submit" value="Login" class="form-control btn-color mt-3" id="exampleFormControlInput1">

            <p class="account-question text-center">Don't have an account? <br><a href="signup.ejs">Create One</a></p>
          </form>
          <!-- <form class="form-group">
            <div class="mb-3 bg p-5 rounded">
                <h2 class="text-center">Login</h2>
                <label for="exampleFormControlInput1" class="form-label mt-4 fw-semibold">Username</label>
                <input type="name" class="form-control" id="exampleFormControlInput1" required>
              
                <label for="exampleFormControlInput1" class="form-label mt-3 fw-semibold">Password</label>
                <input type="password" class="form-control" id="exampleFormCmargin-top: 10px;ontrolInput1" required>


                <input type="submit" value="Login" class="form-control btn-color mt-3" id="exampleFormControlInput1">

                <p class="account-question text-center">Don't have an account? <br><a href="login.html">Create One</a></p>
            </div>
          </form> -->
        </div>
        <!-- Modal Body -->
      </div>
    </div>
  </div>
  <!-- Modal -->