

    <!-- Modal -->
    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog bg-black">
      <div class="modal-content bg-black">
        <div class="modal-header border-0">
          <h5 class="modal-title" id="logo">LodgeLiberia</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <!-- Modal Body -->
        <div class="modal-body">
          <form class="form-group">
            <div class="mb-3 bg p-5 rounded">
                <h2 class="text-center">Login</h2>
                <label for="exampleFormControlInput1" class="form-label mt-4 fw-semibold">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
              
                <label for="exampleFormControlInput1" class="form-label mt-3 fw-semibold">Password</label>
                <input type="password" class="form-control" id="exampleFormCmargin-top: 10px;ontrolInput1">

                <!-- <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">Remember me</label>
                </div> -->

                <input type="submit" value="Signup" class="form-control btn-color mt-3" id="exampleFormControlInput1">

                <p class="account-question">Don't have an account? <a href="login.html">Create One</a></p>
            </div>
        </form>
          <!-- <input type="text"
            class="text-black form-control border-top-0 border-bottom-0 border-start-0 bg-white fs-6 place_holder_control"
            placeholder="Search location">
          <br>
          <input type="text"
            class="text-black form-control border-top-0 border-bottom-0 border-start-0 bg-white fs-6 place_holder_control"
            placeholder="Price">
          <br>
          <select class="form-select border-top-0 border-bottom-0 border-end-0 text-black bg-white"
            aria-label="Default select example" id="search-dropdown">
            <option selected id="select-place-holder">Property</option>
            <option value="Apartments">Apartments</option>
            <option value="Houses">Houses</option>
            <option value="Experience">Experience</option>
          </select> -->
        </div>
        <!-- Modal Body -->

        <div class="modal-footer border-0">
          <button class="btn btn-success" type="submit" id="search-btn"><i class="fa-solid fa-magnifying-glass"
            style="color: #ffffff;"></i>Search</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->