<!doctype html>
<html lang="en" data-bs-theme="auto">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="James Gayflor, and Bootstrap contributors">
  <title>LodgeLiberia Home</title>

  <!-- External link (BootStrap Files) -->
  <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/navbars/">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    crossorigin="anonymous">
  <link href="style.css" type="text/css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-1.11.3.min.js" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <!-- Internal Bootstrap link -->
  <script src="/public/bootstrap5/assets/js/color-modes.js"></script>
  <link href="/public/bootstrap5/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="/public/css/header.css">
  <link rel="stylesheet" href="/public/css/footer.css">
  <link rel="stylesheet" href="/public/css/home.css">
  <link rel="stylesheet" href="/public/css/scrollable_tab.css">
  <link rel="stylesheet" href="/public/css/general.css">
  <link rel="stylesheet" href="/public/css/payment.css">
  <link rel="stylesheet" href="/public/css/user_profile.css">
  <link rel="stylesheet" href="/public/css/place_detail.css">

  <!-- FontAwesome Link -->
  <script src="https://kit.fontawesome.com/9183ef123e.js" crossorigin="anonymous"></script>
</head>

<body class="p-0 min-vh-100 d-flex flex-column">
  <header>
    <div class="container-fluid ps-2 pe-2 pt-3">

      <!-- Below are the list of search engine based respinsive screen sizes -->

      <!-- Available for all screen sizes above lg -->
      <nav class="navbar navbar-expand justify-content-between mb-0" id="first-nav">

        <div class="container-fluid">
          <div class=" navbar-collapse" id="navbarsExample11">

            <a class="navbar-brand col me-0 fs-4" href="/" id="logo">LodgeLiberia</a>

            <% if (user) { %>
              <!-- User Account button -->
              <div class="d-flex col justify-content-end">

                <!-- Can put a hamburger menu here? -->
                <!-- Default dropleft button -->
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="signup_signin_btn"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 180px;">
                    <%= user.username %>
                  </button>
                  <div class="dropdown-menu bg-light border border-dark" aria-labelledby="dropdownMenuButton"
                    style="max-width: 180px; min-width: 180px;">
                    <a class="dropdown-item lodgeliberia_textcolor_color fw-bold" href="/my_booking">My Booking</a>
                    <a class="dropdown-item lodgeliberia_textcolor_color fw-bold" href="/hostplace">Host Property</a>
                    <a class="dropdown-item lodgeliberia_textcolor_color fw-bold" href="/my_profile">Profile</a>
                    <a class="dropdown-item lodgeliberia_textcolor_color fw-bold" href="/logout">Logout</a>
                  </div>
                </div>
              </div>
              <!-- User Account button -->
              <% } else { %>
                <!-- signup and login button -->
                <div class="d-flex col justify-content-end">
                  <a class="text-decoration-none p-2 fw-bold" id="signup_signin_btn" href="/login">
                    <span class="text-black">Signup/Login</span> &nbsp;
                    <i class="fa-solid fa-user" style="color: black;"></i>
                  </a>
                </div>
                <!-- signup and login button -->
                <% } %>

          </div>
        </div>
      </nav>


      <pre class="text-right pe-3 text-black" id="motto"><i>"Your Home in Liberia"</i></pre>


    </div>
  </header>